body
{
	margin: 0;
	padding: 0;
	color:  	#008000;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #9ACD32;
}

#page
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100px;
	margin-left:100px;
	background: #F0FFFF;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid  	#008000;
}

#logo
{
	padding: 10px 20px;
	color: black;
	background-image :url(logo.jpg);
	font-size: 200%;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #3CB371;
	background-color: #90EE90;
	text-decoration:none;
}
